body{
    background-color:magenta;
    font-size:3rem ;
    font-family: 'Bokor';
}
footer{
    background-color: rgb(208, 255, 0);
    color: rgb(255, 0, 242);
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 4rem;
    }
    footer p{
        text-align: center;
        font-size: 0.6rem;
        margin-top: 0.5rem;
    }1